<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>响學後台系統</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #navbar {
            background-color: #000;
            color: white;
            padding: 10px;
            text-align: center;
        }

        #container {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #menu {
            flex: 0 0 160px;
            /* 固定寬度為160px */
            padding: 20px;
            background-color: rgb(241, 239, 237);
            color: #000;
            min-height: 100vh;
            box-sizing: border-box;
        }

        #menu a {
            width: 100%;
            display: block;
            text-decoration: none;
            padding: 10px;
            margin-bottom: 10px;
            color: #000;
            transition: background-color 0.3s, color 0.3s;
        }

        #menu a.active,
        #menu a:hover {
            background-color: rgb(204, 217, 230);
            color: black;
        }

        #productTable {
            flex-grow: 1;
            /* 自動擴展以填滿剩餘空間 */
            padding: 20px;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }

        th,
        td {
            text-align: center;
            padding: 8px;
        }

        .table th,
        .table td {
            border: 1px solid #ddd;
        }

        .btn {
            margin-bottom: 10px;
        }

        /* 隱藏表單和確認框 */
        #addProductModal,
        #editProductModal,
        #deleteConfirmationModal {
            display: none;
        }

        .error-message {
            color: red;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
<div id="navbar">
    <h4>後台管理系統</h4>
</div>
<div id="container">
    <div id="menu">
        <a href="#" id="userInfoLink">用戶資訊</a>
        <a href="#" id="productInfoLink" class="active">課程管理</a>
        <a href="#" id="salesReportLink">銷售報表</a>
    </div>
    <div id="productTable">
        <h2 class="mb-4">課程管理</h2>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">新增課程</button>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>編號</th>
                <th>名稱</th>
                <th>語言</th>
                <th>圖片</th>
                <th>時數</th>
                <th>價格</th>
                <th>老師名稱</th>
                <th>課程介紹</th>
                <th>創建時間</th>
                <th>最後修改時間</th>
                <th>修改</th>
                <th>刪除</th>
            </tr>
            </thead>
            <tbody th:each="course : ${courses}">
            <tr>
                <td class="align-middle text-center" th:text="${course.getCourseId}"></td>
                <td class="align-middle text-center" th:text="${course.getCourseName}"></td>
                <td class="align-middle text-center" th:text="${course.getCategoryName}"></td>
                <td class="align-middle text-center">
                    <img th:src="@{'http://192.168.1.109/uploadImages/' + ${course.imageUrl}}" alt="課程圖片" style="max-width: 100px; max-height: 65px;"/>
                </td>
                <td class="align-middle text-center" th:text="${course.getTime}"></td>
                <td class="align-middle text-center" th:text="${course.getPrice}"></td>
                <td class="align-middle text-center" th:text="${course.getTeacher}"></td>
                <td class="align-middle text-center" th:text="${course.getDescription}"></td>
                <td class="align-middle text-center" th:text="${course.getCreatDate}"></td>
                <td class="align-middle text-center" th:text="${course.getLastModifiedDate}"></td>
                <td class="align-middle text-center">
                    <button class="btn btn-warning edit-button"
                            data-bs-toggle="modal"
                            data-bs-target="#editProductModal"
                            th:attr="data-course-id=${course.getCourseId}">修改
                    </button>
                </td>
                <td class="align-middle text-center">
                    <button class="btn btn-danger delete-button" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" th:attr="data-course-id=${course.getCourseId}">
                        刪除
                    </button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>



<!-- 新增課程 Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">新增課程</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 表單內容可以根據需要調整 -->
                <form id="courseFormAdd" method="post" enctype="multipart/form-data">
                    <label for="courseName">課程名稱:</label>
                    <input type="text" id="courseName" name="courseName" class="form-control" required><br>
                    <div id="courseNameError" class="error-message"></div>
                    <label for="categoryId">語言:</label>
                    <select id="categoryId" name="categoryId" class="form-select">
                        <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select><br>
                    <label for="imageUrl">上傳課程封面圖片:</label>
                    <input type="file" id="imageUrl" name="imageUrl" class="form-control" accept="image/*" required ><br>
                    <label for="time">時數:</label>
                    <input type="number" id="time" name="time" class="form-control" required step="any"><br>
                    <div id="courseTimeError" class="error-message"></div>

                    <label for="price">價格:</label>
                    <input type="number" id="price" name="price" class="form-control" required><br>
                    <div id="coursePriceError" class="error-message"></div>

                    <label for="teacher">老師名:</label>
                    <input type="text" id="teacher" name="teacher" class="form-control" required><br>
                    課程介紹:
                    <textarea class="form-control" placeholder="隨意填寫" id="description" name="description" style="height: 100px"></textarea>
                    <button type="submit" class="btn btn-success mt-2" name="submitForm">確認新增</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 修改課程 Modal -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">修改課程</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 表單內容可以根據需要調整 -->
                <form id="courseFormRevise" enctype="multipart/form-data">
                    <label for="courseName">課程名稱:</label>
                    <input type="text" id="editCourseName" name="courseName" class="form-control" required><br>

                    <label for="editCategoryId">語言:</label>
                    <select id="editCategoryId" name="categoryId" class="form-select">
                        <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select><br>
                    <label for="editImageUrl">上傳課程封面圖片:</label>
                    <input type="file" id="editImageUrl" name="imageUrl" class="form-control" accept="image/*" required><br>
                    <div id="currentImageDisplay"></div>

                    <label for="editTime">時數:</label>
                    <input type="number" id="editTime" name="time" class="form-control" required><br>
                    <label for="editPrice">價格:</label>
                    <input type="number" id="editPrice" name="price" class="form-control" required><br>
                    <label for="editTeacher">老師名:</label>
                    <input type="text" id="editTeacher" name="teacher" class="form-control" required><br>
                    課程介紹:
                    <textarea class="form-control" placeholder="隨意填寫" id="editDescription" name="description" style="height: 100px"></textarea>
                    <button type="submit" class="btn btn-success mt-2" name="submitForm">修改課程</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const menuLinks = document.querySelectorAll('#menu a');
    menuLinks.forEach(link => {
        link.addEventListener('click', function () {
            menuLinks.forEach(l => l.classList.remove('active'));
            this.classList.add('active');
        });
    });
</script>

<script>
    // 將更新表單的邏輯封裝到一個函數中
    function updateEditForm(courseData) {
        document.getElementById('editCourseName').value = courseData.courseName;
        document.getElementById('editCategoryId').value = courseData.categoryId;
        // console.login&register(courseData.imageUrlString);
        let imageUrl = encodeURIComponent(courseData.imageUrlString);
        document.getElementById('currentImageDisplay').innerHTML = `<img src="http://192.168.1.109/uploadImages/${imageUrl}" alt="Current Image" style="max-width: 100px; max-height: 100px;">`;
        document.getElementById('editTime').value = courseData.time;
        document.getElementById('editPrice').value = courseData.price;
        document.getElementById('editTeacher').value = courseData.teacher;
        document.getElementById('editDescription').value = courseData.description;
        // 其他相關邏輯
    }

    // 使用事件委派來監聽按鈕點擊
    document.addEventListener('click', function (e) {
        if (e.target && e.target.classList.contains('edit-button')) {
            const courseId = e.target.getAttribute('data-course-id');
            const newUrl = '/admin/managementCourses?courseId=' + courseId;
            window.history.pushState({ path: newUrl }, '', newUrl);

            fetch(`/admin/managementCourses/info?courseId=${courseId}`)
                .then(response => response.json())
                .then(courseData => {
                    updateEditForm(courseData);
                    // 這裡可以加入打開模態框或其他更新頁面元素的邏輯
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            $('#courseFormRevise').off('submit').on('submit', function(e) {
                e.preventDefault();

                var formData = new FormData(this);
                for (var pair of formData.entries()) {
                    console.log(pair[0]+ ', ' + pair[1]);
                }

                console.log(formData);

                // 第一次 AJAX 請求用於驗證數據
                $.ajax({
                    url: '/admin/validateRevisedCourseData',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        // 驗證通過，發送第二個 AJAX 請求來更新課程
                        $.ajax({
                            url: `/managementCourses/put/${courseId}`,
                            type: 'PUT',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                window.location.href = 'http://localhost:8080/admin/managementCourses';
                            },
                            error: function(response) {
                                // 處理創建或更新課程請求的錯誤情況
                            }
                        });
                    },
                    error: function(response) {
                        // 清除現有錯誤信息
                        $('.error-message').text('').hide();

                        var errors = response.responseJSON;

                        for (var key in errors) {
                            var errorMessage = errors[key];
                            var errorElementId = 'course' + key.charAt(0).toUpperCase() + key.slice(1) + 'Error';

                            // 只有當錯誤消息非空時才顯示
                            if (errorMessage) {
                                $('#' + errorElementId).text(errorMessage).show();
                            }
                        }
                    }
                });
            });
        }
    });

    $('#editProductModal').on('hidden.bs.modal', function () {
        window.history.replaceState({}, '', '/admin/managementCourses');
    });


    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function () {
            // 從點擊的按鈕上獲取 data-course-id 屬性的值
            const courseId = this.getAttribute('data-course-id');

            // 確認刪除操作
            if (confirm('確定要刪除這門課程嗎？')) {
                // 發送 AJAX 請求進行刪除
                fetch(`/admin/managementCourses/delete?courseId=${courseId}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            alert('課程已刪除');
                            // 可以在這裡重新加載頁面或更新 DOM
                            location.reload(); // 例如，重新加載頁面
                        } else {
                            alert('刪除失敗');
                        }
                    })
                    .catch(error => {
                        console.error('刪除過程中出現錯誤:', error);
                    });
            } else {
                // 用戶選擇了「取消」
                window.history.replaceState({}, '', '/admin/managementCourses');
            }
        });
    });



</script>

<script>
    $('#courseFormAdd').on('submit', function(e) {
        e.preventDefault();

        var formData = new FormData(this);
        for (var pair of formData.entries()) {
            console.log(pair[0]+ ', ' + pair[1]);
        }
        console.log(formData);

        $.ajax({
            url: '/admin/validateCourseData',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                // 驗證通過，發送第二個 AJAX 請求來創建課程
                $.ajax({
                    url: '/admin/creatCourse', // 調用創建課程的 URL
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        window.location.href = 'http://localhost:8080/admin/managementCourses';
                    },
                    error: function(response) {
                        // 处理创建课程请求的错误情况
                    }
                });
            },
            error: function(response) {
                // 清除现有错误信息
                $('.error-message').text('').hide();

                var errors = response.responseJSON;

                for (var key in errors) {
                    var errorMessage = errors[key];
                    var errorElementId = 'course' + key.charAt(0).toUpperCase() + key.slice(1) + 'Error';

                    // 只有当错误消息非空时才显示
                    if (errorMessage) {
                        $('#' + errorElementId).text(errorMessage).show();
                    }
                }
            }
        });
    });

</script>

</body>

</html>